<!DOCTYPE html>
<html>
	<head>
		<title>LuckyNum</title>
		<script src="https://unpkg.com/jquery"></script>
	</head>
	<body>
		<form id="lucky-form">
			<div>Name: <input name="name" id="name" /> <b id="name-err"></b></div>
			<div>Birth Year: <input name="year" id="year" min="1900" max="2000" /> <b id="year-err"></b></div>
			<div>Email: <input name="email" id="email" /> <b id="email-err"></b></div>
			<div>Color: <input name="color" id="color" /> <b id="color-err"></b></div>
			<button type="submit">I Want To Feel Lucky!</button>
		</form>

		<div id="lucky-results"></div>

		<script src="https://unpkg.com/axios/dist/axios.js"></script>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script src="/static/lucky.js"></script>
	</body>
</html>
